{% load highstocks %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {% block top_scripts %}{% endblock %}
    {% high_stocks_js %}


    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

</head>

<body>



<div class="fluid-container" >
    <div class="row-fluid">
        <h2>GRAPHS</h2>
        <div id="" class="span12" >
            <div id="" class="span4" >{% high_stocks 'CPU_Usage' %}</div>
            <div id="" class="span4" >{% high_stocks 'MEM_Usage' %}</div>
            <div id="" class="span4" >{% high_stocks 'Disk_IO' %}</div>
        </div>

        {% high_stocks 'User_Activity' %}




    </div>
</div>





</body>
</html>



